:root {
    --primary-color: rgb(128, 155, 176);
    --secondary-color: rgb(193, 193, 193);
    --accent-color-1: rgb(63, 84, 63);
    --accent-color-2: rgb(196, 197, 148);
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent-color-1);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 8px;
    padding: 8px;
}

.socialmedia {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    left: 72px;
    width: 700px;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--secondary-color);
    color: rgb(9, 9, 9);
}

article {
    position: absolute;
    background-color: var(--secondary-color);
    bottom: 0px;
}

.hero article img {
    float: right;
    width: 100px;
    height: auto;
    box-shadow: 0 0 10px grey;
}