*,
*::before,
*::after {
    box-sizing: border-box;
}

main {
    width: 700px;
    margin: 0 auto;
    background-color: #d3d3d3;
    padding: 1.25rem;
}

fieldset {
    border: 5px solid red;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

legend {
    font-size: 1.5em;
    font-weight: bold;
    color: blue;
    padding: 0 10px;
}

input,
select,
textarea {
    font-size: 1.25em;
    margin: 5px 0;
    padding: 5px;
    width: 100%;
}

.code {
    background-color: rgb(23, 23, 23);
    color: rgb(219, 218, 218);
    font-family: monospace;
    padding: 10px 5px;
    border-radius: 5px;
    width: fit-content;
    margin: 0 auto;
}

.number {
    font-weight: bold;
    font-size: 2em;
    color: purple;
    font-style: italic;
}

button {
    font-size: 1.25em;
    padding: 10px 20px;
    background-color: darkgreen;
    color: white;
    border: 5px dashed #d3d3d3;
    border-radius: 5px;
    cursor: pointer;
}