:root {
    --primary-color: rgb(109, 144, 109);
    --secondary-color: rgb(163, 163, 127);
    --heading-font: ;
    --text-color-1: white;
    --text-color-2: black;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: var(--text-color-1);
    display: block;
    padding: 20px;
    font: var(--heading-font);
}

h1 {
    color: var(--primary-color);
}

main {
    max-width: 500px;
}

main img {
    width: 9rem;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px grey;
}

p {
    padding: 0;
}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1em;
    background-color: var(--secondary-color);
    color: var(--text-color-1);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1em;
    border-top: 1px solid black;
    text-align: center;
}