:root {
    --primary-color: rgb(109, 144, 109);
    --secondary-color: rgb(163, 163, 127);
    --heading-font: ;
    --text-color-1: white;
    --text-color-2: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: var(--text-color-1);
    display: block;
    padding: 20px;
    font: var(--heading-font);
}

h1 {
    color: var(--primary-color);
    margin: 1rem;
}

a {
    color: #00f;
}

header,
.grid,
footer {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

main {
    max-width: 700px;
    grid-column: 2/3;
    margin: 1rem;
}

h1 {
    border-bottom: 1px solid #222;
}

main img {
    width: 15rem;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px grey;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0;
    margin: 1rem;
}

aside {
    max-width: 30rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    margin: 10px 0;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    color: black;
    position: absolute;
    z-index: 2;
    left: 160px;
    top: 25px;
}

footer {
    margin-top: 1em;
    border-top: 1px solid black;
    text-align: center;
}

footer {
    background-color: #3e3e3e;
    color: #fff;
    padding: 2rem 1rem;
}

ul {
    list-style: none;
    padding: 1rem;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: var(--secondary-color);
    color: var(--text-color-1);
}

.grid {
    display: grid;
    align-items: center;
}

.indent {
    padding-left: 2rem;
}