* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

header,
main,
footer {
    max-width: 800px;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: white;
    padding: .01rem;
    text-align: center;
    font-size: 1.5rem;
}

main {
    width: 350px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

section {
    margin: 2em 0;
    background-color: #d8d8d8;
    padding: 1rem;
}

section h2 {
    text-align: left;
    border-bottom: solid #000 1px;
}

footer {
    background-color: #333;
    color: white;
    padding: .001rem;
    text-align: center;
}